In [37]:
import pandas as pd
import numpy as np

from numpy import mean
from numpy import std

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl

### Replacing all the ";" in the entire DataFrame at once

In [38]:

# Load the CSV file into a Pandas DataFrame
wine_sales_df = pd.read_csv('wine_sales_data.csv')

# Replace all semicolons with commas in the entire DataFrame
wine_sales_df = wine_sales_df.replace(';', ',')

# Print the updated DataFrame
print(wine_sales_df.head())

   Unnamed: 0 country                                        description  \
0           0      US  This tremendous 100% varietal wine hails from ...
1           1   Spain  Ripe aromas of fig, blackberry and cassis are ...
2           2      US  Mac Watson honors the memory of a wine once ma...
3           3      US  This spent 20 months in 30% new French oak, an...
4           4  France  This is the top wine from La Bégude, named aft...

                            designation  points  price        province  \
0                     Martha's Vineyard      96  235.0      California
1  Carodorum Selección Especial Reserva      96  110.0  Northern Spain
2         Special Selected Late Harvest      96   90.0      California
3                               Reserve      96   65.0          Oregon
4                            La Brûlade      95   66.0        Provence

            region_1           region_2             variety  \
0        Napa Valley               Napa  Cabernet Sauvignon
1               Toro                NaN       Tinta de Toro
2     Knights Valley             Sonoma     Sauvignon Blanc
3  Willamette Valley  Willamette Valley          Pinot Noir
4             Bandol                NaN  Provence red blend

                    winery
0                    Heitz
1  Bodega Carmen Rodríguez
2                 Macauley
3                    Ponzi
4     Domaine de la Bégude

### Replacing ";" by one column at time

In [39]:
# read the CSV file into a pandas dataframe
# df_wine_sales = pd.read_csv('wine_sales_data.csv')

# replace semicolons with commas in the 'your_column_name' column
# df_wine_sales['description'] = df_wine_sales['description'].str.replace(';', ',')
# (or... wine_sales_df['column_name'] = wine_sales_df['column_name'].replace(';', ','))

# print the first 5 rows to check the changes
# print(df_wine_sales.head())

In [40]:
wine_sales_df.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez

### Taking out Duplicates

In [41]:

# Drop duplicate rows based on all columns
wines_sales_unique = wine_sales_df.drop_duplicates()

# Print the number of rows in the original and unique DataFrames
print(f"Original DataFrame: {len(wine_sales_df)} rows")
print(f"Unique DataFrame: {len(wines_sales_unique)} rows")

Original DataFrame: 150930 rows
Unique DataFrame: 150930 rows

In [42]:
wines_sales_unique.shape

(150930, 11)